<template>
    <div
        ref="box"
        class="
            category
            rounded-lg
            flex
            bg-oxygene-pink
            text-oxygene-pink
            cursor-pointer
        "
        :style="`background-image: url(https://source.unsplash.com/${boxWidth}x${boxHeight}/?${keywords});`"
        @click="categorySelected"
    >
        <p class="m-auto font-bold text-4xl md:text-5xl xl:text-8xl">
            {{ name }}
        </p>
    </div>
</template>
<script>
import { debounce } from 'lodash'

export default {
    props: {
        keywords: { type: String, default: 'sail' },
        name: { type: String, default: 'Catégorie' },
    },
    data() {
        return {
            boxWidth: 800,
            boxHeight: 400,
            debounceFn: null,
        }
    },
    computed: {
        imageSize() {
            return this.$refs.box.clientWidth
        },
    },
    mounted: function () {
        this.debounceFn = debounce(this.handleResize, 150)
        window.addEventListener('resize', this.debounceFn)
        this.handleResize()
    },
    beforeUnmount: function () {
        window.removeEventListener('resize', this.debounceFn)
    },
    methods: {
        handleResize(event) {
            if (this.$refs.box) {
                this.boxWidth = this.$refs.box.clientWidth
                this.boxHeight = this.$refs.box.clientHeight
            }
        },
        categorySelected() {
            this.$router.push('material')
        },
    },
}
</script>
