<template>
    <div
        class="flex-grow flex-shrink grid grid-cols-1 md:grid-cols-4 gap-3 m-3"
    >
        <category keywords="standuppaddle" name="Stand Up Paddle" />
        <category keywords="sailboat" name="Dériveur" />
        <category keywords="windsurf" name="Planche à voile" />
        <category keywords="kayak" name="Kayak" />
    </div>
</template>

<script setup>
import { defineComponent } from 'vue'
import Category from './Category.vue'
import Navbar from './Navbar.vue'

defineComponent({
    Category,
    Navbar,
})
</script>
