<template>
    <div class="flex-grow flex-shrink grid grid-cols-4 gap-3 m-3">
        <material name="Laser" keywords="laser,sail" :available="true" />
        <material name="420" keywords="420,sail" :available="true" />
        <material name="470" keywords="470,sail" :available="false" />
        <material name="Catamaran" keywords="catamaran" :available="true" />
        <material name="Imoca" keywords="vendee,sail" :available="true" />
    </div>
</template>
<script>
import Material from './Material.vue'
export default {
    components: {
        Material,
    },
}
</script>
