<template>
    <div
        ref="box"
        class="rounded-lg flex bg-oxygene-pink text-oxygene-pink"
        :class="!available ? 'filter grayscale' : 'cursor-pointer'"
        :style="`background-image: url(https://source.unsplash.com/${boxWidth}x${boxHeight}/?${keywords});`"
        @click="materialSelected"
    >
        <p
            class="
                m-auto
                font-bold
                overflow-hidden
                text-2xl
                md:text-5xl
                xl:text-6xl
            "
        >
            {{ name }}
        </p>
    </div>
</template>
<script>
import { debounce } from 'lodash'

export default {
    props: {
        keywords: { type: String, default: 'surfboard' },
        name: { type: String, default: 'Planche' },
        available: { type: Boolean, default: true },
    },
    data() {
        return {
            boxWidth: 800,
            boxHeight: 400,
            debounceFn: null,
        }
    },
    computed: {
        imageSize() {
            return this.$refs.box.clientWidth
        },
    },
    mounted: function () {
        this.debounceFn = debounce(this.handleResize, 150)
        window.addEventListener('resize', this.debounceFn)
        this.handleResize()
    },
    beforeUnmount: function () {
        window.removeEventListener('resize', this.debounceFn)
    },
    methods: {
        handleResize(event) {
            if (this.$refs.box) {
                this.boxWidth = this.$refs.box.clientWidth
                this.boxHeight = this.$refs.box.clientHeight
            }
        },
        materialSelected() {},
    },
}
</script>
