<template>
    <div
        class="
            fixed
            top-0
            bottom-0
            left-0
            right-0
            bg-white bg-opacity-60
            flex
            justify-center
            align-middle
        "
    >
        <div
            class="
                w-3/4
                h-3/4
                m-auto
                rounded-lg
                shadow-lg
                bg-gray-100
                overflow-x-auto
                flex flex-col
            "
        >
            <slot name="body"></slot>
        </div>
    </div>
</template>
<script>
export default {}
</script>
