<template>
    <div class="flex-none flex-shrink">
        <div class="flex flex-row h-16 md:h-32 p-3 m-2">
            <p
                class="
                    flex-none
                    text-6xl
                    md:text-8xl
                    text-oxygene-pink
                    font-bold
                "
            >
                Oxygène
            </p>
            <div class="flex-grow"></div>
            <img src="../assets/logo.png" class="h-full flex-none" />
        </div>
    </div>
</template>
