<template>
    <div class="flex flex-col h-screen">
        <navbar />
        <router-view />
        <modal v-show="modalVisible" @close="closeModal" />
    </div>
</template>

<script>
import Navbar from './components/Navbar.vue'
import Modal from './components/Modal.vue'
export default {
    components: {
        Navbar,
        Modal,
    },
    data() {
        return { modalVisible: false }
    },

    methods: {
        closeModal() {
            this.modalVisible = false
        },
    },
}
</script>
